<body>
    <p id="notice">Book was successfully created.</p>

<p>
  <strong>Title:</strong>
  ab
</p>

<p>
  <strong>Body:</strong>
  a
</p>

<a class="edit_214173" href="/books/214173/edit">Edit</a> |
<a class="back" href="/books">Back</a>

  

</body>